.banner {
  background-color: #14000a; /* Deep burgundy */
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.featured-card {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(85%);
}

/* .banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, transparent);
} */

.featured-info {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  max-width: 400px;
}

.album-title {
  font-size: 3.5rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.album-details {
  color: #000;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.listen-btn {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.listen-btn:hover {
  background-color: #ff1e28;
}

.albums-section {
  padding: 60px 8%;
  background-color: #200013;
}

.albums-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.albums-grid {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scrollbar-width: none;
}

.albums-grid::-webkit-scrollbar {
  display: none;
}

.album-card {
  min-width: 200px;
  background: #2a0018;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.album-card:hover {
  transform: scale(1.05);
}

.album-cover {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
}

.album-info h2 {
  margin-top: 12px;
  font-size: 1.1rem;
  font-weight: 600;
}

.album-info p {
  font-size: 0.95rem;
  color: #ccc;
  margin: 0.5rem 0;
}

.album-year {
  display: block;
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.album-btn {
  display: inline-block;
  background-color: #ff3366;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  transition: background 0.3s;
}

.album-btn:hover {
  background-color: #ff1e28;
}
