body {
  background: #2c0a17;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.navbar {
  background-color: #1a000c;
  color: #fff;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.zayn {
    color: #ff3366;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.zayn:hover {
  transform: scale(1.05);
  text-shadow: 0 0 20px rgba(229, 9, 20, 0.7);
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  transition: all 0.4s ease;
}


.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color:  #ff69b4;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {

 .menu-icon {
    display: block;
  }

 .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    background: #1a000c;
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    height: 250px; 
    padding: 20px 0;
  }

  .nav-links li {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .nav-links.active li {
    opacity: 1;
  }
}