body {
  background: #2c0a17;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.navbar {
  background-color: #1a000c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zayn {
    color: #ff3366;
  font-size: 1.5rem;
  font-weight: bold;
}

.zayn:hover {
  transform: scale(1.05);
  text-shadow: 0 0 20px rgba(229, 9, 20, 0.7);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav li a:hover {
  color:  #ff69b4;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.nav input[type="search"] {
  background-color: #0f0f0f;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  padding: 6px 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.nav input[type="search"]:focus {
  border: 1px solid #e50914;
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.6);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    flex-wrap: wrap;
    gap: 15px;
  }

  .zayn {
    margin-bottom: 10px;
  }
}